/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  background: url("../images/background-forget.jpg") no-repeat center center fixed;
  background-size: cover; /* 确保图片覆盖整个页面 */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* flash容器和alert */
.flash-container {
    width: 80%;
    margin: 20px auto 5px; /* 上方和两侧20px，下方10px */
    padding: 10px;
}
.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.forgot-password-container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 14px;
  color: #555;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

select {
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* 返回按钮样式 */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #0056b3;
}
/* 密保问题样式 */
.security-question {
  background: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 14px;
  margin-top: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
