<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>济计好书网</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style-404.css') }}"
    />
  </head>

  <body>
    <a href="{{ url_for('index') }}" class="back-button">&#60;&#60;返回主页</a>
    <!-- 返回按钮 在404的情况下跳转的页面 -->
    <h3>还没有页面喔...</h3>
  </body>
</html>
