<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑个人信息</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style-edit_user.css') }}"
    />
  </head>

  <body>
    <div class="new-container">
      <h2>编辑个人信息</h2>
      <form enctype="multipart/form-data" id="bookForm" method="POST">
        <label for="username">昵称</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="昵称"
          value="{{ request.form['username'] or user['username'] }}"
          required
        />
        <label for="username">个性签名</label>
        <textarea id="bio" name="bio" placeholder="个性签名" value="" required>
{{ request.form['bio'] or user['bio'] }}</textarea
        >
        <label for="profile">头像（不上传则保持原头像）</label>
        <input type="file" id="profile" name="profile" accept="image/*" />
        <!-- flash显示信息 -->
        <!--对于个人信息 个性签名 ID 头像的修改-->
        {% if get_flashed_messages() %}
        <div class="flash-container">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        <button type="submit">保存</button>
      </form>
    </div>
  </body>
</html>
